@font-face {
    font-family: 'Bebas Neue Regular';
    src: url(src/fonts/BebasNeue.otf);
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Bebas Neue Light';
    src: url(src/fonts/BebasNeueLight.otf);
    font-style: normal;
    font-weight: 700;
}