html, body {
    margin: 0;
    padding: 0;
    background:rgb(16,20,25);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.navbar {
    position: fixed;
    z-index: 2;
    width: 100%;
}
  
.navbar__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
}
  
.navbar__list-item {
    margin: 0 20px;
}
  
.navbar__button, .navbar__link {
    text-decoration: none;
    font-family: 'Segoe UI', 'Roboto', sans-serif;
    font-size: 16px;
    color: #cfd5dc;
    font-weight: 500;
    background: none;
    border: none;
    cursor: pointer;
}

.navbar__button:focus {
    outline: 0;
}

.navbar__button:hover, .navbar__link:hover {
    color: white;
}

.bg-wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
          rgba(0, 0, 0, 0.5), 
          rgba(0, 0, 0, 0.2)
        ), url("src/bg-main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 20%;
}

canvas {
  display: block;
  vertical-align: bottom;
}

#particles-js {
  position: absolute;
  width: 100vw;
  height: 50vh;
}

.intro {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro__text {
    z-index: 1;
    height: 25%;
    width: 50%;
    color: white;
    text-shadow: 1px 1px black;
    font-family: Consolas, monaco, monospace;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 26.4px; 
}

.content {
    background: rgb(39,44,56);
    width: 100vw;
    padding-bottom: 50px; 
}

.content__text {
    color: #cfd5dc;
    font-family: 'Segoe UI', 'Roboto', sans-serif;
    text-decoration: none;
}

.content__text--header {
    padding: 36px;
    margin: 0;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    text-shadow: 3px 3px #880088;
}

.content__text--sub-header {
    right: 0;
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
}

.content__flex-container {    
    width: 70%;
    margin: 20px auto;
    background: rgb(31,35,45);  
    padding: 0 1%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content__flex-item {
    margin: 0 20px;
}

.content__icon {
    left: 0;
    width: 2%;
    min-width: 28px;
    height: auto;
    cursor: pointer;
}

.content__icon:hover {
    filter: brightness(1.2);
}

.content__icon.ccwrotate {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.content__icon.cwrotate {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    transform: rotate(180deg);
}

.content__flex-header {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.content__drop-down {
    height: 0;
    max-height: 100vh;
    overflow: hidden;
    opacity: 0;
}

.line-break {
    margin-top: -10px;
    width: 100%;
    height: 1px;
    background: lightslategray;
}

.content__drop-down.show {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    height: 50px;
}

.content__drop-down.hide {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    height: 0;
}

.content--projects {
    background: rgb(25,29,38);
}

.content__grid--project {
    grid-template-columns: 33% 33% 33%;
}
  
.content__grid-item--project {
    background: rgb(0,5,15);
}
  
.content__grid-container--project {
    width: 75%;
    margin: 0 auto;
}
  
.content__image:hover, .content__hidden:hover ~.content__image {
    opacity: 0;
}
  
.content__grid-item--project:hover .content__hidden {
    display: block;
    transition: 0.5s;
    top: 0%;
}
  
.content__header--project {
    font-size: 24px;
    margin-bottom: 5%;
}
  
.content__text--project {
    font-weight: 500;
    margin: 20px;
}

.content__grid {
    display: grid;
    justify-items: center;
}
  
.content__grid-item {
    height: 200px;
    margin: 16px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    border-radius: 6px;
}
  
.content__grid-container {
    width: 75%;
    margin: 0 auto;
    border-radius: 6px;
}
  
.content__hidden {
    top: -150%;
    transition: 0.5s;
    z-index: 1;
    position: absolute;
    display: block;
}
  
.content__link {
    border: solid 2px rgb(61,180,242);
    border-radius: 4px;
    color: white;
    padding: 5px 20px;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Segoe UI', 'Roboto', sans-serif;
    text-decoration: none;
    display: inline-block;
}
  
.content__link:hover {
    background:rgb(61,180,242);
}
  
.content__image {
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .content__grid--project {
        grid-template-columns: 50% 50%;
    }
}

@media screen and (max-width: 768px) {
    .content__grid--project {
        grid-template-columns: 100%;
    }
}

strong {
    font-weight: 500;
    color: rgb(61,180,242);
}
